@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf"),
        url("../fonts/Roboto/Roboto-Bold.ttf"),
        url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Open_sans/OpenSans-Regular.ttf");
}



* {
    margin: 0 auto;
    padding: 0;

}

/* шапочка
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 80px;
    background: #F4F8F7;
    height: 5.25em;
} */

/* список пунктов */
/* .turLink {
    margin-right: 30px;
}

.turLink:last-child {
    margin-right: 0px;
} */

/* ////\\\\ */

/* это для всех элементов */
/* .headerElement {
    display: inline-block;
} */

/* это для поиска, вся сворована */
/* .serchFormBlock::after {
    content: "";
    clear: both;
    display: table
}

.serchFormBlock .form {
    width: auto;
    float: right;
    margin-right: 30px;
    position: relative;
}

.serchFormBlock input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    outline: none;
    position: relative;
    /* transition: .3s linear; */
    /*пока в коменты*/
/* }

.serchFormBlock button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: 0px;
    right: 10px;
} */

/* при фокусировке увеличивается. Пока закоменчу, 
но фишка прикольная */
/* .serchFormBlock input:focus {
    width: 350px;
} */
/* \\\\\\/////\/\\/\//\\//\\\/ */

/* язык и телефон */
/* .PhoneLangBlock{
    width: 200px;
} */

/* .PhoneBlock {
    margin-right: 20px;
}

.PhoneBlock img {
    float: left;
    margin-right: 10px;
}

.PhoneBlock p {
    float: right;
} */

/* about_us */
h1 {
    width: 151px;
    height: 20px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1EC28B;
    margin-bottom: 65px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.about_us_title {
    width: 557px;
    height: 77px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;

    display: flex;
    align-items: center;

    color: #424242;
}

.about_us_text {
    width: 556px;
    height: 140px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #424242;
}

.about_us_info {
    padding-top: 300px;
}

.line {
    width: 269px;
    border: 2px solid #424242;
    background-color: #424242;
    margin-top: 63px;
    margin-left: 0px;
    margin-bottom: 50px;
}

/* why_we_title */
.why_we_title {
    width: 946px;
    height: 184px;


    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 46px;



    color: #424242;
    margin-bottom: 64px;

}

span {
    color: #1EC28B;
}

.why_we_img {
    width: 100%;
    margin-bottom: 65px;
}

/* about tours */
.about_tours_title {
    width: 485px;
    height: 92px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #1EC28B;
    margin-left: 245px;
    margin-bottom: 50px;
}

.about_tours_text_all {
    display: flex;
}

.about_tours_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 463px;
    display: flex;
    align-items: center;
}

.about_tours_text:first-child {
    margin-left: 245px;
    margin-right: 20px;
}

/* our team */
.our_team_title {
    width: 300px;
    height: 20px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 30px;
    color: #1EC28B;
    margin-top: 65px;
    margin-bottom: 50px;
}

.card_line {
    display: flex;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 46px 61px;
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 20px;
}

.card:first-child {
    margin-left: 150px;
}

.card:nth-child(4) {
    margin-right: 150px;
}

.name {
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 16px;
}

.post {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #1EC28B;
}

.card_img {
    margin-top: 46px;
}

.our_team {
    background-image: url(../media/image/ellipse.svg);
}

/* join */
.join_png {
    width: 100%;
    position: absolute;
    z-index: auto;
}

.join_title {
    width: 500px;
    height: 72px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    display: flex;
    align-items: center;
    color: #1EC28B;
    position: absolute;
    margin: 132px 119px 132px 150px;
}

.join_text {
    position: absolute;
    width: 545px;
    height: 60px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 138px 150px 138px 64%;
}

.join_info {
    display: flex;
}

/* footer */
.top_footer {
    display: flex;
    margin-top: 35%;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_title {
    height: 20px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

a {
    text-decoration: none;
    height: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
    color: black;
}

.footer_line {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.footer_payCards {
    display: flex;
}

.copyright::before {
    content: "\00A9";
}

.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-top: 10px;
    margin-left: 10px;
}

.botom_footer {
    display: flex;
}

.botom_footer_left {
    margin-left: 105px;
}

.botom_footer_right {
    margin-right: 150px;
    margin-top: 53px;
}

.footer_sites_item {
    margin-left: 25px;
}

.footer_sites {
    display: flex;
    justify-content: flex-end;
}

.footer_text {
    width: 516.64px;
    height: 80px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.4px;
    margin-top: 20px;
}