.ib1 {
    background-image: url("../media/image/altay1.jpg"); !important;
}

.ib2 {
    background-image: url("../media/image/altay2.jpg"); !important;
}

.ib3 {
    background-image: url("../media/image/altay3.jpg"); !important;
    background-position: 40%;
}


.reviews_all {
    display: flex;
    flex-direction: row;
    justify-content: safe center;
    align-content: center;

    width: 100%;

    padding: 0px 150px;

    margin-bottom: 50px;


    background-image: url("../media/image/Rectangle 425.png"); !important;
    background-repeat: no-repeat;
    background-size: 100%;
}