@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf"),
        url("../fonts/Roboto/Roboto-Bold.ttf"),
        url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Open_sans/OpenSans-Regular.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
}

body {
    margin-top: 30px;
    /* max-height: 700px; */
}

#content {
    margin: 0px 12%;
}

.registerBlocks {
    display: flex;
    /* justify-content: spa; */
    /* flex-direction: column; */
}

.registerFildsBlockSub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 120px 12%;
}

a{
    color: white;
    text-decoration: none;
}


.registerFildsBlock a {
    text-decoration: none;
    color: black;
}

.registerFildsBlock a:first-child {
    margin-right: 20px;
    text-decoration: underline;
}

.registerFildsBlock a:last-child {
    color: #8B8B8B;
}

.wellcomeField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100px;

    /* margin-bottom: 30px; */
}

.wellcomeText .headText {
    margin-bottom: 20px;
}

/* /////// */

/* register blocks */

.regForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.regField {
    margin-bottom: 20px;
}

/* .regField:last-child{
    margin-bottom: 0px;
} */

.registerFilds, .enterFilds{
    margin-top: 20px;
}


.regField input {
    width: 365px;
    min-width: 265px;
    height: 40px;

    border-radius: 1px solid #666666;


    margin-top: 8px;
}

/* ///////////////// */
.agreement {
    margin-bottom: 20px;
}

.agreement {
    color: #8B8B8B;
}

.regButton button {
    padding: 8px 16px;
    gap: 8px;

    width: 169px;
    height: 40px;

    color: white;
    background: #1EC28B;
    border-radius: 8px;

    border-style: none;

    margin-bottom: 30px;
}

.socialLinksBlock p {
    color: #8B8B8B;
    margin-right: 25px;
}

.socialLinksBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialLinks .socialLink {
    display: inline;
    margin-right: 33px;
}

/* Стили для страницы входа */

.enterFildsBlock a:first-child {

    color: #8B8B8B;
}

.enterFildsBlock a:last-child {
    margin-left: 20px;
    text-decoration: underline;
}

.enterFildsBlock a {
    text-decoration: none;
    color: black;
}

.regFieldText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #CCCCCC;
    padding: 8px;

}

.form-after {
    display: flex;

}

.form-after-text {
    width: 104px;
    height: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    color: #8B8B8B;
    margin-left: 125px;
    text-decoration: none;
}

.enterButton button {
    padding: 8px 16px;

    width: 169px;
    height: 32px;

    border-radius: 8px;

    color: white;
    background: #1EC28B;
    border-style: none;
    margin-bottom: 30px;

}

.errorInput {
    box-shadow: 0px 0px 6px 4px rgb(225 43 43 / 20%);
}