@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf"),
        url("../fonts/Roboto/Roboto-Bold.ttf"),
        url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Open_sans/OpenSans-Regular.ttf");
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
}

/* header Льва */
.header-base {
    max-width: 1440px;
    height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../media/image/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 20px;
}

.head-string {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: 83px;
}

.choose {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 946px;
    height: 100px;

    /*background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;*/
}

.center {
    margin: auto;
    max-width: 1500px;
}

.section-one {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 920px;
    height: 385px;
}

.head-whywe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 20px;
}

.lists-whywe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
}

.list-whywe-element {
    display: flex;
    width: 395px;
    height: 70px;
    align-items: center;
    list-style-image: url("../media/image/check-circle.png");
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

.list-whywe-element::before {
    content: url("../media/image/check-circle.png");
    margin-right: 20px;
}

.list-inside {
    margin-top: 50px;
    margin-right: 90px;

}


/* ///////////////////////////////////////////// */
#cards {
    margin-top: 70px;
    margin-bottom: 55px;
    
}

.sub_Card {
    margin-left: 127px;
    position: relative;

}

/* оглавление */

.text_header {
    font-weight: 700;
    font-size: 37px;
    font-family: 'Merriweather';
    text-transform: uppercase;
    font-size: 37px;
    /* margin-bottom: 24px; */

}

.card_Header {
    width: 495px;
    height: 180px;

    margin-bottom: 60px;


}

.card_Header>.text_header {
    width: 75%;
    padding-bottom: 24px;
}

/* ////////////// */

/* карточки */
.cards_Place {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;

    color: white;
    font-size: 24px;
    font-family: 'Open Sans';
}


/* настройка для каждой карты */
.card {
    white-space: wrap;
    min-width: 270px;
    height: 400px;
    border-radius: 10px;

    margin-right: 20px;
    margin-bottom: 20px;

    padding-top: 20px;
    padding-bottom: 15px;

    background-color: #CCCCCC69;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s ease-in-out;

}

.card:hover {

    min-width: 370px;
    height: 420px;

}

/* фоновые изображения для карточек */
#Baical{
    background-image: url('../media/image/picture_Baikal.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#Karelia{
    background-image: url('../media/image/picture_karelia.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#Altai{
    background-image: url('../media/image/picture_altai.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#Dagestan{
    background-image: url('../media/image/picture_Dagestan.png');
    background-size: 100%;
    background-repeat: no-repeat;
}


/* видеодневники */

#video_Dic {
    
    /* justify-content: space-around; */

    width: 100%;

    margin-bottom: 50px;
}
.video_Dic_Sub{
    height: 100%;
    width: 100%;
    display: inline-block;

}

.VP{
    margin-bottom: 40px;
}

.video_Dic_Sub>.video_more{
    text-align: center;
    margin-bottom: 0px;
}

.video_Dic_Sub>.video_Header {
    display: block;
    margin-left: 127px;
    width: 370px;
}

.video_Header_H{
    margin-bottom: 24px;
}
.video_Header_text{
    width: 90%;
}
.video_Header>.text_p {
    font-size: 20px;
    line-height: 20px;
    /* text-align: justify; */
    /* line-height: 20px; */
}

/* видео вставки */
.video_prev_block{
    /* overflow-y:auto; */
    margin-top: 50px;
    margin-bottom: 40px;
}

.video_prev_block_sub {

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: -50px;
    /* height: 100%; */
    /* height: 270px;
    max-height: 570px; */

    margin-bottom: 15px;
}

.video_prev_block_sub>.i1, .video_prev_block_sub>.i3{

    width: 485px;
    height: 270px;
}
.video_prev_block_sub>.i2{
    width: 560px;
    height: 314px;
    margin: 0px 20px;
}

.video_prev{

}

.video_prev>.video_pl {
    /* background-color: gray; */
    width: 485px;
    min-height: 260px;
    max-height: 270px;

    margin-right: 20px;
    margin-bottom: 20px;

}

/* ///////////////////////// */

/* общая настройка кнопок  */

.btn {
    width: 169px;
    min-height: 47px;
    background: #1EC28B;
    border-radius: 8px;
    box-shadow: none;
    border: 0;

    font-size: 14px;
    text-transform: uppercase;
    color: white;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.btn:hover {
    background-color: #2fe5a8;
}

.btn:active {
    background-color: #1aaa7a;
}

/* ////////////////// */

/* мария */

/* reviews */
.reviews_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    text-align: center;
    background: #F4F8F7;
    margin-bottom: 65px;
}
.reviews_wrapper > .reviews_btn{
    align-self: center;
}

.reviews_title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 37px;
    line-height: 20px;

}

.reviews_title_block{
    margin-left: 127px;
    text-align: left;
}

.reviews_text {
    margin-bottom: 50px;
    width: 350px;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;


}


/* карточки */
.reviews_all{
    display: flex;
    flex-direction: row;
    justify-content: safe center;
    align-content: center;

    width: 100%;

    padding: 0px 150px;

    margin-bottom: 50px;


    background-image: url("../media/image/rewiewsbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}



.rewiews_card{
    
    background-color: white;
    border-radius: 10px;

    padding: 28px 8px;
    margin-right: 20px;
    margin-top: 20.5vh;

    width: 270px;
    max-height: 360px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    overflow: hidden;
}

.card_text{
    text-overflow: ellipsis;
}

.avatar_img_block{
    margin-bottom: 16px;
}
.card_mark_name{
    margin-bottom: 25px;
}
.card_mark_name>.author_name{
    margin-bottom: 9px;
}



/* ////////////////// */
.reviews_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 207px;
    height: 47px;

    background: #1EC28B;
    border-radius: 20px;

}

.reviews_btn_link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    letter-spacing: 0.4px;
    font-family: 'Roboto';
    font-style: normal;

}

/* form */

.form {
    display: flex;
    justify-content: center;
}

.form_title {
    font-weight: 700;
    font-size: 37px;
    width: 573px;
    height: 70px;

    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;

}

.form_elem{
    display: flex;
    justify-content: space-around;
}

form {
    padding: 30px;
    background: #F4F8F7;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1),
        0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.form-field_name_required {
    margin-bottom: 8px;
}

.form-field_name {
    margin-bottom: 8px;
}

.form-field_name_required::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.form-field {
    margin-bottom: 30px;
    width: 535px;
    padding: 8px;
}

.form_btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    background: #1EC28B;
    border: none;


}

.btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 204px;
    height: 47px;
    background: #1EC28B;
    border-radius: 20px;
    margin-left: 165px;
    margin-bottom: 30px;
}

.form_agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.4px;
    color: #C5C5C5;
}

.form_img {

    background: url(../media/image/Vector.png);
    background-size: 370px 470px;
    width: 370px;
    height: 370px;
}

.form_img_wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;

}

/* ///////////////// */

/* footer */

.footer {
    /* margin: 0px 130px; */
    /* margin: 0 auto; */
    margin-left: 127px;
    margin-right: 75px;
    margin-top: 40px;
    margin-bottom: 80px;
}

/* зелёные эконки */
.connectLinks {
    display: flex;
    height: 100px;
    justify-content: space-around;
    padding: 0px 30px;
}

.linkBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkBlock > img{
    width: 38px;
    height: 38px;
    margin-bottom: 30px;
}

.email > img, .map > img{
    width: 46px;
    height: 46px;
    margin-bottom: 30px;
}

.map > a{
    text-decoration: none;
    color: black;
}
/* верхняя линия */
.upperHr {
    margin-top: 40px;
    margin-bottom: 52px;
}

/* различные блоки. О нас и т.д */
.infoBlocks {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}

/* параметры для всех заголовков */
.InfoHeader {
    font-size: 20px;
    font-family: 'Merriweather';
}

/* параметры для каждого блока */
.infoBlock {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 30px;
}

/* доп настройка + ещё и для ссылок */
.InfoLink,
.InfoHeader {
    display: inline-block;
    padding-bottom: 20px;
}

/* параметры для настроек */
.InfoLink {
    text-decoration: none;
    color: black;
}

.InfoLink:last-child {
    padding-bottom: 0px;
}

/* для нижней линии */
.DownHr {
    margin-top: 52px;
    margin-bottom: 40px;
}

/* настройка для всего, что находиться в конце */
.ElseInfoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    font-family: 'Open Sans';
}

/* настройка для эконок соц. сетей */
.IconLinks {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.IconLink>img {
    width: 34px;
    height: 34px;

}

/* vk подганял как мог */
.VkIcon>img {
    width: 40px;
    height: 30px;
}

/* ту настрока для копирайта и текста */
.ElseInfo {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;

    width: 100%;
}

/* для блока с копирайтом */
.CopyriteBlock {
    display: flex;
    max-width: 220px;
    justify-content: space-between;
}

.CopiriteText {
    flex-wrap: wrap;
    margin-left: 50px;
    line-height: 24px;
    font-weight: 400;
}

/* для блока с согласием */
.Agreement {
    max-width: 500px;
    text-align: right;
    line-height: 25px;
}

/* немного не структурированно, но здесь настройка эконок для приложений */
.paymentIcon {
    margin-left: 30px;
    display: inline-block;
    padding-bottom: 30px;
}

.paymentIcon:last-child {
    padding-bottom: 0px;
}

/* доп настройка для нормального вертикального расширения */
.AppsSub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    margin-left: 15px;
}

/* просто для блока с маркетами */
.Apps {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.Apps>p {
    font-size: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
    width: 100px;
}

.Apps>img {
    width: 20px;
    height: 24px;
}

.Apps>p>.bolt {
    font-size: 12px;
    font-weight: bolder;
}