
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf"),
    url("../fonts/Roboto/Roboto-Bold.ttf"),
    url("../fonts/Roboto/Roboto-Black.ttf");
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
}

/* header Льва */
.header-base{
    max-width: 1440px;
    height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../media/image/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.head-string{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 1140px;
    height: 83px;
}

.choose{
    display:block;
    margin-left:auto;
    margin-right: auto;

    width: 946px;
    height: 100px;

    /*background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;*/
}

.center{
    margin:auto;
    max-width: 1500px;
 }

 .section-one{
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 80px;
    width: 920px;
    height: 385px;
 }

 .head-whywe{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 20px;
 }

 .lists-whywe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:60px;
 }

 .list-whywe-element{
    display: flex;
    width: 395px;
    height: 70px;
    align-items: center; 
    list-style-image: url("../media/image/check-circle.png");
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

.list-whywe-element::before{
    content: url("../media/image/check-circle.png");
    margin-right: 20px;
}

.list-inside{
    margin-top: 50px;
    margin-right: 90px;
    
}


/* ///////////////////////////////////////////// */
#cards{
    margin-top: 70px;
    margin-bottom: 55px;
}

.sub_Card{
    margin-left: 127px;
    position: relative;
    
}

/* оглавление */

.card_Header{
    width: 495px;
    height: 180px;

    margin-bottom: 60px;
    

}
.card_Header > h2{
    text-transform: uppercase;
    font-size: 37px;
    width: 75%;
    padding-bottom: 24px;

    font-family: 'Roboto';
    font-style: normal;
    

}
.card_Header > p{
    font-size: 17px;
    width: 100%;
    line-height: 20px;
    text-align: left;
}
/* ////////////// */

/* карточки */
.cards_Place{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
}

/* заголовки */
.card_info{
    white-space: wrap;
    max-width: 390px;
    min-height: 76px;
}
.card_info > .card_Name{
    font-size: 24px;
    margin-bottom: 16px;
}

.card_info > .card_p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


/* настройка для каждой карты */
.card{
    white-space: wrap;
    min-width: 460px;
    height: 500px;
    border: solid black 2px;
    border-radius: 10px;
    
    margin-right: 20px;
    margin-bottom: 20px;

    padding: 53px 38px;
    background-color: #CCCCCC69;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* сецкция с кнопкой и картинкой */
.card_Img{
    margin-top: 28px;
    max-width: 340px;
    height: 290px;

    border: solid black 1px;
    border-radius: 10px;
    
    position: relative;
}

.card_Img > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card_Img > .btn_a{
    position: absolute;
    top: 79%;
    right: 0.5em;
    box-shadow: none;
    text-align: center;
}

/* ///////////// */

/* видеодневники */

#video_Dic{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */

    width: 100%;
    height: 434px;

    margin-bottom: 200px;
}

#video_Dic > .video_Header{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    
    width: 403px;
    height: 124px;
}

.video_Header > .text_header{
    font-weight: 700;
    font-size: 37px;
    margin-bottom: 24px;

}

.video_Header > .text_p{
    font-size: 20px;
    line-height: 20px;
    /* text-align: justify; */
    /* line-height: 20px; */
}

/* видео вставки */

#video_Dic > .video_prev{

    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    /* height: 270px; */
    max-height: 570px;

    margin-top: 50px;
    margin-bottom: 60px;


}

.video_prev > .video_pl{
    background-color: gray;
    width: 485px;
    min-height: 260px;
    max-height: 270px;

    margin-right: 20px;
    margin-bottom: 20px;

}

/* ///////////////////////// */

/* общая настройка кнопок  */

.btn{
    width: 169px;
    min-height: 47px;
    background: #1EC28B;
    border-radius: 20px;
    box-shadow: none;
    border: 0;

    font-size: 14px;
    color: white;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.btn:hover{
    background-color: #2fe5a8;
}

.btn:active{
    background-color: #1aaa7a;
}

/* ////////////////// */

/* мария */

/* reviews */
.reviews_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    text-align: center;
    background: #F4F8F7;
    margin-bottom: 65px;
    }
.reviews_title{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 37px;
    line-height: 20px;
    
}
.reviews_text{
    margin-bottom: 50px;
    width: 350px;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    

}
.reviews_line{
    display:flex ;
    justify-content: space-between;
    margin-bottom: 60px;
}
.reviews_item{
    display:flex;
    justify-content: space-between;
}
.reviews_img_left{
    margin-left: 57px;
    margin-right: 10px;
}
.reviews_img_right{
    margin-left: 114px;
        margin-right: 10px;
}
.reviews_info{
    width: 380px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.4px;
    
}
.reviews_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 207px;
    height: 47px;

    background: #1EC28B;
    border-radius: 20px;

}
.reviews_btn_link{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    letter-spacing: 0.4px;
    font-family: 'Roboto';
    font-style: normal;

}
/* form */

.form{
    display: flex;
    justify-content: center;
}

.form_title {
font-weight: 700;
font-size: 37px;
width: 573px;
height: 70px;

display: flex;
align-items: center;
text-align: center;
margin-bottom: 40px;

}
form{
    padding: 30px;
background: #F4F8F7;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1),
0px 0px 2px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.form-field_name_required {
    margin-bottom: 8px;
}
.form-field_name {
    margin-bottom: 8px;
}
.form-field_name_required::after {
    content: '*';
    color: red;
    margin-left: 5px;
}
.form-field{
    margin-bottom: 30px;
    width: 535px;
    padding: 8px;
}
.form_btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    background: #1EC28B;
    border: none;

    
}
.btn_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 204px;
    height: 47px;
    background: #1EC28B;
    border-radius: 20px;
    margin-left: 165px;
    margin-bottom: 30px;
}
.form_agreement{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.4px;
    color: #C5C5C5;
}
.form_img{

    background: url(../media/image/Vector.png) ;
    background-size: 370px 470px;
    width: 370px;
    height: 370px;
}
.form_img_wrapper{
    display: flex;
    align-items: center;
    margin-left: 40px;
    
}

/* ///////////////// */